body {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #f5f6ff;
}

.big-box {
	background-image: url("../images/hero-medical-single-edited.jpg");
	height: 470px;
}
.intropara p {
	font-family: 'Oxygen', sans-serif;
}

.intropara h1{
	font-family: 'Oxygen', sans-serif;
	font-weight: 700;
	padding-bottom: 25px;
}

.navbar {
	font-family: 'Oxygen', sans-serif;
}

.intropara {
	font-family: 'Oxygen', sans-serif;
	font-size: 20px; 
}

.midcol {
	border-left: solid 1px #2F82AA;
	border-right: solid 1px #2F82AA;
}

.intro {
	padding-top: 35px;
}

.aboutbanner {
	background-image: url("../images/bluebanneredited2.jpg");
	height: 100px;
}

.help-para-1 {
	font-family: 'Oxygen', sans-serif;
	font-size: 20px;
	border-right: solid 1px #2F82AA;
}

.help-para-2 {
	font-family: 'Oxygen', sans-serif;
	font-size: 20px;	
}

.footer {
	background-color:#343434;
	height: 50px;
	margin-top: 35px;
	text-align: center;
	font-family: 'Oxygen', sans-serif;
	font-size: 14px;
	line-height: 50px;
	color: #9d9d9d;
}

.footerabout {
	background-color:#343434;
	height: 50px;
	margin-top: 35px;
	text-align: center;
	font-family: 'Oxygen', sans-serif;
	font-size: 14px;
	line-height: 50px;
	color: #9d9d9d;
	padding-top: 50px
}

.bmibanner {
	background-image: url("../images/bmibanner.jpg");
	height:100px;
}
